@model BlogServer.Models.BlogPost

@{
    ViewData["Title"] = "Details";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    <!--Hacky approach to add new lines, refactor into controller with <p> tags-->
    @Html.Raw(Html.Encode(Model.Body).Replace("&#xA;", "<br />"))
</div>
<br />
<div>
    @if (Model.EditAndDeletePermissions)
    {
        <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.ID">Edit</a>
    }
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>
