@model IEnumerable<BlogServer.Models.BlogPost>

@{
    ViewData["Title"] = "Index";

}

<h2><em>Justin's Blog Engine</em></h2>

<a asp-action="Create" class="btn btn-default pull-right">Create New Post!</a>
<div class="row">
    <div class="dropdown pull-right ">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Sort By<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a asp-action="Index" asp-route-id="0">Date added (newest)</a></li>
            <li><a href="@Url.Action("Index", new {id = 1})" (">Date added (oldest)</a></li>
            <li><a href="@Url.Action("Index", new {id = 2})" (">Most Popular</a></li>
            <li><a href="@Url.Action("Index", new {id = 3})" (">Alphabetical</a></li>
            <li><a href="@Url.Action("Index", new {id = 4})" (">Reverse Alphabetical</a></li>
        </ul>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameIdentifier)
            </th>
            <th>
                Actions
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitCount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td width="35%">
                <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td width="25%">
                @Html.DisplayFor(modelItem => item.Date)
                <br />
                @if (item.EditedDate != DateTime.MinValue) {
                    <em>
                        Edited on: @Html.DisplayFor(modelItem => item.EditedDate)
                    </em>
                }   
            </td>
            <td width="15%">
                @Html.DisplayFor(modelItem => item.LoginName)
            </td>
            <td width="15%">
                <a asp-action="Details" asp-route-id="@item.ID">View</a>
                @if (item.EditAndDeletePermissions)
                {
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitCount)
            </td>
        </tr>
}
    </tbody>
</table>


